body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'HP Simplified Light',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0eb;
}
